<div class="card" style="width: 50rem; left: 25%; top: 5em;" >
<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @mining_type.description, class:"form-control" %>
</p>

<p>
  <strong>Acronym:</strong>
  <%= @mining_type.acronym, class:"form-control" %>
</p>

<%= link_to 'Edit', edit_mining_type_path(@mining_type), class:"btn btn-primary" %> 
<br/>
<%= link_to 'Back', mining_types_path, class:"btn btn-primary" %>
</div>
